img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container{
    display: flex;
    gap : 40px;
    justify-content: center;
    align-items: center;
}

.d-flex{
    text-align: left;
}